* {
    margin: 0;
    padding: 0;
    user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');


body {
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(180deg, rgb(238, 174, 202) 0%, rgb(148, 233, 233) 100%); */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.doodle {
    z-index: -1;
    position: absolute;
}

.success-message {
    display: none;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-top: 10px;
}
.nav-title {
    color: blueviolet;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    font-weight: 800;
    font-size: 22px;
    margin-left: 20px;
}

  .nav-title img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

  .nav > .nav-header > .nav-title {
    display: flex;
    align-items: center;
}
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #f08230;
    position: fixed;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(196, 219, 219, 0.566) 100%);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(10px);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .nav-header {
    display: flex;
    align-items: center;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    /* margin-right: %; */
 }
 .nav-links i{
    padding-right: 5px;
 }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: blueviolet;
    margin: 7px 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .nav > .nav-links > a:hover {
    box-shadow: 0 0 5px blue;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (min-width:900px) {
   .nav-title {
    transition: margin 1s ease-in-out;
  }
  .nav-links {
    transition: margin 1s ease-in-out;
    }}
  
  @media (max-width:900px) {
    .nav-title {
    margin-left:1em;
    transition: margin 1s ease-in-out;
  }
  .nav-links {
    margin-right:1em;
    transition: margin 1s ease-in-out;
  }
  }
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index:99999;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      /* background-color: rgba(221, 87, 87, 0.632); */
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000000;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background: linear-gradient(180deg, rgba(238, 174, 202, 0.577) 0%, rgba(148, 233, 233, 0.566) 100%);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index: 9999;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
/* .navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(196, 219, 219, 0.566) 100%);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(10px);
    z-index: 3;
}

.leftNav {
    margin-left: 35px;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}

.leftNav img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.rightNav {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    font-weight: 600;
}

.rightNav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.rightNav ul li a {
    text-decoration: none;
    cursor: pointer;
}

.activem{
    color: red !important;
    box-shadow: 2px 3px blue;
}

.rightNav ul li:hover {
    box-shadow: 0 0 5px blue;
}

.rightNav ul li a:visited {
    color: blue;
} */

/* First Section Css */
.firstSection {
    padding-top: 130px;
    display: flex;
    justify-content: space-evenly;
    min-height: 85vh;
    width: 100%;
    background: linear-gradient(180deg, rgb(238, 174, 202) 0%, rgb(148, 233, 233) 100%);
    /* background: linear-gradient(180deg, rgba(239, 204, 219, 0.767) 0%, rgb(194, 237, 237) 100%); */
    border-bottom: 1px solid rgba(21, 138, 138, 0.61);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.firstSection::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: css-doodle;
}

.remove-typed-cursor {
    display: none !important;
}

.pngRightImg {
    height: 450px;
    width: 650px;
}

.leftSection {
    font-size: 2.5rem;
    width: 50%;
    margin-top: 115px;
    margin-left: 90px;
    justify-content: center;
    cursor: default;
}

.element span {
    font-size: 2.2rem !important;
}

.leftSection button {
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(180deg, rgb(238, 174, 202) 0%, rgb(148, 233, 233) 100%);
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

button a{
    text-decoration: none;
    color: inherit;
}

button a:visited{
    text-decoration: none;
    /* color: white; */
}

.leftSection button:hover {
    box-shadow: 0 0 5px blue;
    color: blue !important;
}


/* First Section Css End */

/* Second Section Css */
.secondSection {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    height: 100vh;
}


.serviceTitle {
    margin: 25px 0;
    font-size: 1.5rem;
    cursor: default;
}

.serviceSection {
    margin: 10px 25px;
    /* min-height: 50vh; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.leftService {
    width: 28vw;
    height: 68vh;
    align-items: center;
    background: linear-gradient(180deg, rgba(238, 174, 202, 0.577) 0%, rgba(148, 233, 233, 0.566) 100%);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 5px blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centerService {
    width: 28vw;
    height: 68vh;
    margin: 0 22px;
    align-items: center;
    background: linear-gradient(180deg, rgba(238, 174, 202, 0.577) 0%, rgba(148, 233, 233, 0.566) 100%);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 5px blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightService {
    width: 28vw;
    height: 68vh;
    align-items: center;
    background: linear-gradient(180deg, rgba(238, 174, 202, 0.577) 0%, rgba(148, 233, 233, 0.566) 100%);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 5px blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descriptionBox{
    margin-top: 25px;
}


.main-img{
    width: 100%;
    margin-bottom: 25px;
}

.main-img img {
    height: 200px;
    width: 100%;
}

.serviceSection h2 {
    text-align: center;
    color: blueviolet;
    font-size: 1.7rem;
    margin-bottom: 25px;
}

.descriptionService {
    margin: 0 15px;
    color: grey;
    font-weight: 300;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.rightService:hover {
    background-color: aquamarine;
}

.leftService:hover {
    background-color: aquamarine;
}

.centerService:hover {
    background-color: aquamarine;
}

/* Second Service End */

/* Third Section End */
.thirdSection {
    background: linear-gradient(180deg, rgba(239, 204, 219, 0.767) 0%, rgb(194, 237, 237) 100%);
    display: flex;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding-top: 50px;
}

.thirdSection::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: css-doodle;
}

.leftABout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.rightAbout {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: 45px;
}

.aboutDesc {
    width: 90%;
    color: rgb(11, 11, 11);
    margin-bottom: 150px;
    /* text-shadow: 0 0 3px #f6ff00, 0 0 5px #070707; */
}

.aboutSocial {
    text-shadow: none;
    text-align-last: start;
    margin-top: 20px;
    padding: 5px;
}

.aboutSocial i {
    margin-left: 20px;
    z-index: 2;
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

.aboutSocial i:hover {
    box-shadow: 0 0 5px blue;
    cursor: pointer;
}

.aboutDesc h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    text-shadow: none;
}

.headAbout {
    color: blueviolet;
    margin-bottom: 15px;
    font-size: 2.9rem;
    /* text-align: center; */
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffc0c0;
}

.aboutDesc p {
    text-align: justify;
    width: 100%;
    font-size: 1.8rem;
}

.thirdSection img {
    width: 100%;
    margin-left: 50px;
}

/* Third Section End Here */

/* Forth Section Start Here */

.fourthSection {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    background-color: white;
}

.skillSection {
    width: 100%;
    gap: 25px;
}

.headSkill {
    text-align: center;
    padding-top: 25px;
    height: 10vh;
    font-size: 2rem;
    color: blueviolet;
    margin-bottom: 15px;
}

.allSkill {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 30px;
}

.allSkill2 {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 65px;
}

.skill {
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    height: 160px;
    width: 185px;
    padding: 5px;
    border-radius: 10px
}

.skill:hover {
    box-shadow: 0 0 5px blueviolet;
    background: linear-gradient(180deg, rgba(238, 174, 202, 0.577) 0%, rgba(148, 233, 233, 0.566) 100%);
    color: blueviolet;
}


.skill img {
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.skill h4 {
    font-size: 1.2rem;
}

.skill span {
    font-size: 0.9rem;
}

/* Forth Section Css End Here */

/* Fifth Section Css Start Here */
.fifthSection {
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(239, 204, 219, 0.767) 0%, rgb(194, 237, 237) 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.fifthSection::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: css-doodle;
}

.projectSection {
    margin: 25px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.projectTitle {
    text-align: center;
    margin-bottom: 20px;
}

.projectTitle h3 {
    text-align: center;
    color: blueviolet;
    font-size: 1.9rem;
    margin-bottom: 10px;
}

.allProject {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.projectBox {
    height: 45vh;
    width: 43vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(238, 174, 202) 0%, rgb(148, 233, 233) 100%);
    padding: 20px;
    border-radius: 10px;
}

.projectBox:hover {
    box-shadow: 0 0 5px blueviolet;
    cursor: pointer;
}

.allProject img {
    width: 100%;
    min-width: 100%;
    /* min-height: 20vh; */
    border-radius: 10px;
    border: 1px solid white;
}

.text h3 {
    color: blueviolet;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px;
}

.text p {
    color: gray;
    margin-bottom: 10px;
    text-align: justify;
}

/* Fifth Section Css End Here */

/* Sixth Section Css Start Here */
.sixthSection {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contactSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactTitle {
    text-align: center;
}
.contactTitle h3 {
    color: blueviolet;
    font-size: 1.5rem;
}

.contactForm {
    width: 50%;
    /* height: 60vh; */
    /* background-color: black; */
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
}

.contactDetail {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contactDetail input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 0;
    background-color: #E8E8E8;
    outline: 0;
}

.contactForm textarea {
    height: 42vh;
    margin-top: 10px;
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    resize: none;
    font-size: 18px;
    outline: 0;
    border: 0;
    background-color: #E8E8E8;

    /* border: 0; */
}

.contactForm button {
    margin-top: 10px;
    width: 102%;
    padding: 4px;
    border-radius: 50px;
    font-size: 26px;
    border: 0;
    outline: 0;
    background: linear-gradient(180deg, rgb(238, 174, 202) 0%, rgb(148, 233, 233) 100%);
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(129, 127, 127);
}

.contactForm button:hover {
    box-shadow: 0 0 5px blue;
    color: blue;
}

.footerSection {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2a2a;
    color: #E8E8E8;
    /* padding: 0 25px; */
}

.footerDetail {
    padding-left: 25px;
}

.contactIcons {
    padding: 0 25px;
}

.contactIcons i {
    margin: 0 20px;
}


/* Mobile Device Mobile Device Mobile Device Mobile Device Mobile Device Mobile Device Mobile Device Mobile Device Mobile Device */


@media only screen and (max-width: 600px) {
    .navbar {
        justify-content: space-between;
        width: 100vw;
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(10px);
        position: relative;
    }

    /* .leftNav {
        width: auto;
        padding-left: 15px;
        font-size: 0.em;
        margin: 0;
    } */

    /* .rightNav {
        width: 0;
        display: unset;
        display: none;
    } */

    .sideNavM {
        display: flex;
        list-style: none;
        text-decoration: none;
        width: auto;
        justify-content: center;
    }

    .sideNavM li {
        list-style: none;
        text-decoration: none;
        display: inline-flex;
        flex-direction: column;
    }

    .sideNavM ul li a {
        font-size: .75rem;
    }

    /* .rightNav ul li:hover {
        box-shadow: 0 0 5px blue;
    } */

    .firstSection {
        padding-top: 10px;
        /* justify-content: space-evenly; */
        min-height: 70vh;
        align-items: center;
        flex-direction: column-reverse;
    }

    .firstSection::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: css-doodle;
    }

    .remove-typed-cursor {
        display: none !important;
    }

    .rightSection {
        width: 100vw;
    }

    .pngRightImg {
        height: 280px;
        width: 100vw;
    }

    .leftSection {
        font-size: 1.3rem;
        width: 100vw;
        height: 100%;
        margin-top: 0;
        margin-left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .userName {
        font-size: 2rem !important;
    }

    .element span {
        font-size: 2.5rem !important;
        font-weight: 800;
    }

    .leftSection button {
        margin-top: 15px;
        font-size: 1.2rem;
        /* display: block; */
        padding: 10px;
        text-align: center;
    }

    .fade-in-text:hover {
        animation: fadeIn 3s;
        -webkit-animation: fadeIn 3s;
        -moz-animation: fadeIn 3s;
        -o-animation: fadeIn 3s;
        -ms-animation: fadeIn 3s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* Second Section Mobile Css */

    .secondSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        padding: 5px 0;
        height: auto;
        margin-bottom: 20px;
    }

    .main-img{
        height: 200px;
        margin-bottom: 0;
    }


    .serviceTitle {
        margin: 20px 0;
        font-size: 1rem;
    }

    .serviceSection {
        margin: 5px 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .leftService {
        width: 100%;
        height: 50vh;
        align-items: center;
        padding: 5px;
        margin-bottom: 25px;
    }

    .centerService {
        width: 100%;
        height: 50vh;
        align-items: center;
        padding: 5px;
        margin-bottom: 25px;
    }

    .rightService {
        width: 100%;
        height: 50vh;
        align-items: center;
        padding: 5px;
        margin-bottom: 25px;
    }


    .serviceSection h2 {
        margin-bottom: 15px;
        text-decoration: underline;
    }

    .descriptionService {
        text-align: center;
    }

    .leftService:hover {
        background: linear-gradient(to bottom, rgb(137, 181, 212) 60%, rgba(236, 162, 217, 0.736));
        background-size: 200% 200%;
        background-position: left bottom;
        transition: all 1.2s ease-out;
    }

    .centerService:hover {
        background: linear-gradient(to bottom, rgb(137, 181, 212) 60%, rgba(236, 162, 217, 0.736));
        background-size: 200% 200%;
        background-position: left bottom;
        transition: all 1.2s ease-out;
    }

    .rightService:hover {
        background: linear-gradient(to bottom, rgb(137, 181, 212) 60%, rgba(236, 162, 217, 0.736));
        background-size: 200% 200%;
        background-position: left bottom;
        transition: all 2s linear;
    }

    /* Third Section Mobile Css */

    .thirdSection {
        flex-direction: column;
        padding-top: 0px;
        max-height: 100vh;
        /* min-height: 65vh; */
        height: auto;
        padding: 20px;
    }

    .leftABout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        /* width: 100vw; */
        margin-left: 0;
    }

    .rightAbout {
        align-content: center;
        justify-content: flex-start;
        width: 100vw;
        height: auto;
        text-align: start;
        margin-left: 0;
    }

    .headAbout{
        text-align: center;
    }

    .aboutDesc {
        width: 90vw;
        margin-bottom: 20px;
    }

    .aboutSocial {
        margin-top: 10px;
        padding: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutSocial i {
        margin-left: 0;
        z-index: 2;
        position: relative;
        /* padding: 20px; */
        border-radius: 5;
    }

    .aboutSocial i {
        pointer-events: none;
    }


    .aboutDesc h1 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        text-shadow: none;
        text-align: center;
    }

    .aboutDesc h3 {
        color: blueviolet;
        margin-bottom: 15px;
        font-size: 1.9rem;
        text-align: center;
    }

    .aboutDesc p {
        text-align: start;
        width: 100%;
        font-size: 1.1rem;
    }

    .thirdSection img {
        height: 200px;
        width: 200px;
        margin-left: 0;
        margin-bottom: 25px;
    }

    /* Forth Section Mobile Css Start Here */

    .fourthSection {
        padding-top: 5px;
        display: flex;
        max-width: 100vw;
        min-height: 50vh;
        max-height: 100vh;
        height: auto;
        background-color: white;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .skillSection {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0;
    }

    .headSkill {
        text-align: center;
        padding-top: 0;
        font-size: 2rem;
        color: blueviolet;
        margin-bottom: 15px;
    }

    .allSkill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 40vw;
        margin-bottom: 0;
    }

    .allSkill2 {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 40vw;
        margin-bottom: 0;
    }

    .skill {
        display: flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
        height: 80px;
        width: 142px;
        padding: 0;
        border-radius: 10px;
        border: 1px solid;
        padding: 2px;
        pointer-events: none;
        margin: 10px 0;
    }

    .skill img {
        background-color: #ffffff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }

    .skill h4 {
        font-size: .99rem;
        color: blueviolet;
    }

    .skill span {
        font-size: 0.8rem;
        color: #2d2a2a;
    }

    /* Fifth Section Mobile Css Here */
    .fifthSection {
        padding-top: 10px;
        min-height: 50vh;
        height: auto;
        width: 100%;
    }

    .projectSection {
        margin: 25px 0;
        width: 100%;
    }

    .projectTitle {
        text-align: center;
        margin-bottom: 20px;
    }

    .allProject {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .projectBox {
        max-height: 50vh;
        min-height: 35vh;
        height: auto;
        width: 80vw;
        margin: 15px 0;
    }

    .text p {
        color: rgb(42, 41, 41);
    }


    /* Sixth Section Css Start Here */
    .sixthSection {
        min-height: 80vh;
        height: auto;
        max-height: 120vh;
        width: 100vw;
        margin: 10px 0;
    }

    .contactSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactTitle h3 {
        color: blueviolet;
    }

    .contactForm {
        width: 80vw;
        height: auto;
    }

    .contactDetail input {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 7px;
    }

    .contactForm textarea {
        height: 42vh;
        margin-top: 10px;
        width: 100%;
        padding: 7px;
        border-radius: 7px;
        resize: vertical;
        font-size: 18px;
        outline: 0;
        border: 0;
        background-color: #E8E8E8;
    }


    .contactForm button:hover {
        box-shadow: 0 0 5px blue;
        color: blue;
    }

    .footerSection {
        width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #2d2a2a;
        color: #E8E8E8;
    }

    .footerDetail {
        width: 60%;
        padding-left: 5px;
        margin-left: 25px;
    }

    .footerDetail h3 {
        font-size: 0.79rem;
    }

    .contactIcons {
        width: 40%;
        padding: 0 5px;
    }

    .contactIcons i {
        margin: 0 20px;
    }

    .fa-2xl {
        height: 0;
        width: 0;
    }



}
